@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  width: 100wh;
  height: 100%;
}

.leaflet-control-container {
  position: absolute;
  right: 56px
}

.leaflet-popup-content{
  width: fit-content !important;
  margin: 0 0 !important;
  white-space: nowrap !important;
  display: flex;
  justify-content: center;
}

.leaflet-popup-content-wrapper{
  border-radius: 9px !important;
}